@model int

<div class="row">
    <div class="col-md-3 BottomSpace">
        <a asp-action="Edit" class="btn btn-success form-control" asp-route-id="@Model">Edit</a>
    </div>
    <div class="col-md-3">
        <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
    </div>
</div>