@using BudgetiFi.Utility
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BudgetiFi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>

    <nav class="navbar navbar-expand-md fixed-top">
        @if (User.IsInRole(StaticData.RegularUser))
        {
            <a class="navbar-brand" asp-area="Customer" asp-controller="DebtDetails" asp-action="Profile">BudgetiFi</a>

        }
        else
        {
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BudgetiFi</a>

        }


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end">
            <ul class="navbar-nav">

                @if (User.IsInRole(StaticData.RegularUser))
                {
                    <li class="nav-item dropdown text-white-50">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage Here!
                        </a>
                        <div class="dropdown-menu dropdown-bg" aria-labelledby="navbarDropDownMenuLink">
                            <a class="dropdown-item text-success font-weight-bold" asp-action="Index" asp-controller="DebtCategories" asp-area="Customer">Debt Category</a>
                            <a class="dropdown-item text-success font-weight-bold" asp-action="Index" asp-controller="CreditorCategories" asp-area="Customer">Creditors</a>
                            <a class="dropdown-item text-success font-weight-bold" asp-action="Index" asp-controller="DebtDetails" asp-area="Customer">Debt Details</a>


                        </div>

                    </li>

                }
                @if (User.IsInRole(StaticData.AdminUser))
                {
                    <li class="nav-item dropdown text-white-50">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage Here!
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                            <a class="dropdown-item" asp-action="Index" asp-controller="DebtCategories" asp-area="User">List of Users</a>


                        </div>

                    </li>

                }

                @if (User.IsInRole(StaticData.RegularUser))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Customer" asp-controller="DebtDetails" asp-action="Profile">OverView</a>
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                }





            </ul>
            <partial name="_LoginPartial" />
        </div>

    </nav>






    <main role="main" class="pb-3">
        @RenderBody()
    </main>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
