@model BudgetiFi.Models.DebtCategory

@{
    ViewData["Title"] = "Edit";
}

<div class="container pTop">


    <h3>Edit Type of Debt</h3>
    <div>
        <hr />
        <partial name="_StatusMessage" model=@ViewBag.StatusMessage />

        <div class="col-md-7">
            <form asp-action="Edit" class="row-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <div class="col-auto">
                        <label asp-for="Name" class="col-form-label font-weight-bold"></label>
                    </div>
                    <div class="col-auto">
                        <input asp-for="Name" class="form-control" />
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <partial name="_EditAndBackButton" model="Model.Id" />

            </form>
        </div>
    </div>

</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#footer').empty();
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



