@model IEnumerable<BudgetiFi.Models.DebtCategory>

@{
    ViewData["Title"] = "Debt category";

}




<div class="container pTop">

    <div class="row mb-2">
        <div class="col-6">
            <h2 class="text-success">Here's a lis of your debt category</h2>
        </div>
        
        <div class="col-6 text-right">
           <partial name="_CreateButtonPartial" />
        </div>
        

    </div>

    

    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Id)
                        </td>
                        <td>
                            <partial name="_tableButtonPartial" model="item.Id" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p class="display-3 bg-info">Seems that you are debt free. If not let us help you pay your debt as quick as possible!</p>
    }


</div>



@section Scripts {

    <script>
        $(document).ready(function () {
            $('#footer').empty();
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





