@model BudgetCategory

@{
    ViewData["Title"] = "Details";
}

<div class="container pTop content">


    <h3>Budget Category Details</h3>
    <div>
        <hr />

        <div class="col-md-7">
            <form asp-action="Details" class="row-form">

                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <div class="col-auto">
                        <label asp-for="Name" class="col-form-label font-weight-bold"></label>
                    </div>
                    <div class="col-auto">
                        <input asp-for="Name" readonly class="form-control" />
                    </div>

                </div>

                <partial name="_DetailsAndBackButton" model="Model.Id" />

            </form>
        </div>
    </div>

</div>

@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

